
/* <<<<< Login >>>>> */
#loginPage a.logo{margin-left:380px;}
#loginPage div[role="main"]{max-width:200px; margin-left:360px;}
#loginPage h1{border:none;}
form#systemLogin input[type="text"],form#systemLogin input[type="password"]{background-color:#e6e6e6; color:#c0c0c0; font-size:0.875em; border:none; width:190px; height:28px; margin-bottom:15px; padding-left:10px;}
form#systemLogin input[type="submit"], input[type="submit"]{background:#e2001a;}
form#systemLogin input[type="submit"]:hover, form#systemLogin input[type="submit"].active {background:#2495C4;}

body{background:#333333;}
#loginPage a{color:#3F3F3F;}
#loginPage a:hover{color:#e2001a;}
input:focus{outline-color:#e2001a}

#resource_admin [role='main']{width: 980px; margin: 0 auto;}
#resource_admin .mainContent{float: left; width: 700px;}
#resource_admin aside{float:right; width: 20%}

#resource_admin figure{width: 100%; float: right;}
#resource_admin img{width: 100%; display:block;}
fieldset{margin:0 0 8px 0;}
textarea{width: 500px;}

